.header-title {
    display: block;
    position: absolute;
    top: 0;
    left: 30px;
    text-align: center;
    font-size: 24px;
    font-family: var(--font-sofia);
    text-transform: uppercase;
    padding: 18px 0;

    @media (min-width: 576px) {
        display: none;
    }
}
