.header-title {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 24px;
    font-family: var(--font-sofia);
    text-transform: uppercase;
    padding: 18px 0;
    z-index: 100;

    @media (max-width: 576px) {
        display: block;
    }
}
