@font-face {
    font-family: Raleway-Light;
    src:
        url("shared/assets/fonts/Raleway-Light.eot#iefix") format("embedded-opentype"),
        url("shared/assets/fonts/Raleway-Light.woff") format("woff"),
        url("shared/assets/fonts/Raleway-Light.woff2") format("woff"),
        url("shared/assets/fonts/Raleway-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Raleway-Italic;
    src:
        url("shared/assets/fonts/Raleway-Italic.eot#iefix") format("embedded-opentype"),
        url("shared/assets/fonts/Raleway-Italic.woff") format("woff"),
        url("shared/assets/fonts/Raleway-Italic.woff2") format("woff"),
        url("shared/assets/fonts/Raleway-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: SofiaSans;
    src:
        url("shared/assets/fonts/SofiaSans-Light.eot#iefix") format("embedded-opentype"),
        url("shared/assets/fonts/SofiaSans-Light.woff") format("woff"),
        url("shared/assets/fonts/SofiaSans-Light.woff2") format("woff"),
        url("shared/assets/fonts/SofiaSans-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: SourceCodePro;
    src:
        url("shared/assets/fonts/SourceCodePro-Regular.eot#iefix") format("embedded-opentype"),
        url("shared/assets/fonts/SourceCodePro-Regular.woff") format("woff"),
        url("shared/assets/fonts/SourceCodePro-Regular.woff2") format("woff"),
        url("shared/assets/fonts/SourceCodePro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
