:root {
    --font-raleway: "Raleway-Light", sans-serif;
    --font-raleway-italic: "Raleway-Italic", sans-serif;
    --font-sofia: "SofiaSans", sans-serif;
    --font-source-code: "SourceCodePro", sans-serif;
    --font-family-base: var(--font-raleway);
    --font-size-base: 20px;
    --bg-main: url("shared/assets/images/bg-noise.jpg");

    // цвета
    --overlay-color: rgba(0 0 0 / 90%);

    // navbar
    --navbar-height: 95px;
    --navbar-z-index: 100;
}
