:root {
    --font-raleway: "Raleway-Light", sans-serif;
    --font-raleway-italic: "Raleway-Italic", sans-serif;
    --font-sofia: "SofiaSans", sans-serif;
    --font-source-code: "SourceCodePro", sans-serif;
    --font-family-base: var(--font-raleway);
    --font-size-base: 20px;
    --bg-main: url("shared/assets/images/bg-noise.jpg");

    @media (max-width: 768px) {
        --font-size-base: 17px;
    }

    @media (max-width: 576px) {
        --font-size-base: 14px;
    }
}
