:root {
    --font-raleway: 'Raleway-Light', sans-serif;
    --font-raleway-italic: 'Raleway-Italic', sans-serif;
    --font-sofia: 'SofiaSans', sans-serif;
    --font-source-code: 'SourceCodePro', sans-serif;

    --font-family-base: var(--font-raleway);

    --font-size-base: 20px;
    --font-line-base: 28px;
    --font-base: var(--font-size-base) / var(--font-line-base) var(--font-family-base);

    --title-size-base: 96px;
    --title-line-base: 104px;
    --title-base: var(--title-size-base) / var(--title-line-base) var(--font-source-code);

    --title-size-lg: 128px;
    --title-line-lg: 104px;
    --title-lg: var(--title-size-lg) / var(--title-line-lg) var(--font-source-code);

    --color-white: #fff;
    --color-black: #000;

    --bg-loading: url("shared/assets/images/noise.jpg");

    @media (max-width: 768px) {
        --font-size-base: 17px;
        --font-line-base: 25px;
    }

    @media (max-width: 576px) {
        --font-size-base: 14px;
        --font-line-base: 22px;
    }
}
