@import "fonts";
@import "reset";
@import "variables";

.app {
    font: var(--font-base);
    color: var(--color-white);
    height: 100vh;
}

html {
    background: var(--bg-loading) no-repeat center center fixed;
    background-size: cover;
}