.app {
    font-family: $raleway-light;
    font-size: rem(20px);
    color: $white;
    height: 100vh;
    background-color: $black;
}

.container {
    max-width: 1320px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include large-desktop() {
        max-width: 1140px;
    }

    @include desktop() {
        max-width: 960px;
    }

    @include laptop() {
        max-width: 720px;
    }

    @include tablet() {
        max-width: 540px;
    }
}

.title {
    font-size: rem(96px);
    font-family: $source-code;
}

.content {
    font-size: rem(24px);
    width: 708px;
}