.members-page {
    height: 100%;

    .buttons {
        position: absolute;
        right: 0;
        bottom: 170px;
        left: 175px;
        font-size: 96px;
        user-select: none;
        font-family: var(--font-source-code);

        @media (max-width: 992px) {
            left: 0;
        }

        @media (max-width: 576px) {
            display: none;
        }

        ul {
            display: flex;

            a {
                color: rgb(255 255 255 / 30%);
                transition: color 0.1s;

                &:hover {
                    color: rgb(255 255 255 / 70%);
                }
            }

            a[class="active"] {
                color: #fff;
            }
        }
    }

    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 16px;
        font-family: var(--font-raleway-italic);
        padding: 40px 0;

        @media (max-width: 576px) {
            display: none;
        }
    }
}
