.title {
    font: var(--title-base);

    @media (max-width: 992px) {
        font-size: 58px;
        line-height: 66px;
    }

    @media (max-width: 576px) {
        font-size: 32px;
        line-height: 40px;
    }
}
