.members-page {
    @media (min-width: 576px) {
        height: 100%;
    }
}

.buttons {
    font-size: 16vw;
    user-select: none;
    font-family: var(--font-source-code);

    @media (min-width: 576px) {
        position: absolute;
        right: 0;
        bottom: 170px;
        left: 0;
        font-size: 96px;

        ul {
            justify-content: left;
        }
    }

    ul {
        display: flex;
        justify-content: center;

        a {
            color: rgb(255 255 255 / 30%);
            transition: color 0.1s;

            &:hover {
                color: rgb(255 255 255 / 70%);
            }
        }

        a[class="active"] {
            color: #fff;
        }
    }
}

.footer {
    font-size: calc(1vw + 0.7rem);
    font-family: var(--font-raleway-italic);
    padding: 40px 0;
    text-align: center;

    @media (min-width: 576px) {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: left;
        font-size: 16px;
    }
}
