.not-found {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-main);
    animation: loading .1s steps(20) infinite;

    .item {
        font-size: 128px;
        font-family: var(--font-sofia);
    }

    @keyframes loading {
        0% {
            background-position: 0 0;
        }
        100%   {
            background-position: 100% 100%;
        }
    }
}