.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: var(--navbar-height);
    z-index: var(--navbar-z-index);
    display: flex;
    align-items: center;
}

.body {
    display: none;

    @media (min-width: 576px) {
        display: flex;
        justify-content: space-around;
        font-size: calc(1vw + 0.4em);
        text-transform: uppercase;
        font-family: var(--font-sofia);
    }

    @media (min-width: 992px) {
        font-size: 28px;
    }

    @media (min-width: 1200px) {
        font-size: 32px;
    }

    a {
        &:hover {
            border-bottom: 2px solid #fff;
        }
    }

    a[class="active"] {
        border-bottom: 2px solid #fff;
    }
}
