.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 75px;
    z-index: 100;
    display: none;
    align-items: center;
    transition: all 0.2s;
    border-bottom: 1px solid transparent;

    @media (min-width: 576px) {
        display: flex;
    }

    @media (min-width: 992px) {
        height: 95px;
    }
}

.body {
    display: flex;
    justify-content: space-around;
    font-size: calc(1vw + 0.4em);
    text-transform: uppercase;
    font-family: var(--font-sofia);

    @media (min-width: 992px) {
        font-size: 28px;
    }

    @media (min-width: 1200px) {
        font-size: 32px;
    }

    a {
        &:hover {
            border-bottom: 2px solid #fff;
        }
    }

    a[class="active"] {
        border-bottom: 2px solid #fff;
    }
}

.fade {
    background-color: rgba(#000, 0.8);
    backdrop-filter: blur(5px);
    border-bottom-color: rgba(#fff, 0.2);
}
