.member-item {
    height: 100%;
}

.body {
    padding-top: 180px;

    @media (max-width: 576px) {
        padding-top: 80px;
    }
}

.image-hidden {
    display: none;
    margin-bottom: 14px;

    @media (max-width: 576px) {
        display: block;
    }
}

.title {
    font-size: 96px;
    font-family: var(--font-source-code);

    @media (max-width: 992px) {
        font-size: 55px;
    }

    @media (max-width: 576px) {
        font-size: 26px;
        text-align: center;
    }
}

.content {
    width: 50%;

    @media (max-width: 1200px) {
        width: 80%;
    }

    @media (max-width: 576px) {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
}

.member-item.masha,
.member-item.burda,
.member-item.misha,
.member-item.kres {
    background-size: cover;
    overflow: auto;

    @media (max-width: 576px) {
        background-image: none;
    }
}

.masha {
    background: url("shared/assets/images/members/masha.jpg") no-repeat center center fixed;
}

.burda {
    background: url("shared/assets/images/members/burda.jpg") no-repeat center center fixed;
}

.misha {
    background: url("shared/assets/images/members/misha.jpg") no-repeat center center fixed;
}

.kres {
    background: url("shared/assets/images/members/kres.jpg") no-repeat center center fixed;
}
