.menu-toggle {
    position: absolute;
    right: 30px;
    z-index: 210;
    width: 30px;
    height: 24px;
    cursor: pointer;
    transform: rotate(0);
    transition: transform 0.3s;

    span,
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        right: 0;
    }

    span {
        top: 11px;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.open {
    transform: rotate(-90deg);
}
