.container {
    max-width: 1320px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1400px) {
        max-width: 1140px;
    }

    @media (max-width: 1200px) {
        max-width: 960px;
    }

    @media (max-width: 992px) {
        max-width: 720px;
    }

    @media (max-width: 768px) {
        max-width: 540px;
    }

    @media (max-width: 576px) {
        padding-right: 25px;
        padding-left: 25px;
    }
}

