.about {
    height: 100%;

    &__body {
        position: absolute;
        padding-top: 180px;

        .content {
            font-size: rem(20px);

            p:first-child {
                margin-top: 6px;
            }
        }
    }
}
