.about-page {
    height: 100%;
    background: url("shared/assets/images/bg-about.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: auto;

    @media (max-width: 576px) {
        background-image: none;
    }
}

.body {
    padding-top: 180px;
    padding-bottom: 15px;

    @media (max-width: 576px) {
        padding-top: 80px;
    }
}

.image-hidden {
    @media (min-width: 576px) {
        display: none;
    }
}

.title-hidden {
    @media (max-width: 576px) {
        .title {
            display: none;
        }
    }
}

.content {
    width: 60%;

    @media (max-width: 992px) {
        width: 85%;
    }

    @media (max-width: 576px) {
        width: 100%;
        padding: 0 25px;
    }
}
