.live-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 12px 0;

    @media (max-width: 576px) {
        display: block;
        font-size: 20px;
    }

    &:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    .item-1,
    .item-2,
    .item-3 {
        width: 100%;
        padding-bottom: 12px;
    }

    .item-1 {
        @media (max-width: 576px) {
            text-align: center;
        }
    }

    .item-2 {
        text-align: center;
        align-self: end;
    }

    .item-3 {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 576px) {
            justify-content: center;
        }
    }

    .date {
        font-weight: 600;
        margin-bottom: 12px;
    }

    .sold {
        background-image: url("shared/assets/images/sold.jpg");
        background-size: 120px 30px;
        width: 120px;
        height: 30px;
    }
}