.live-item {
    display: block;
    align-items: center;
    border-bottom: 1px solid rgb(255 255 255 / 50%);
    padding: 12px 12px 0;

    @media (min-width: 576px) {
        display: flex;
    }

    &:first-child {
        border-top: 1px solid rgb(255 255 255 / 50%);
    }

    .item-1,
    .item-2,
    .item-3 {
        width: 100%;
        padding-bottom: 12px;
    }

    .item-1 {
        text-align: center;

        @media (min-width: 576px) {
            text-align: left;
        }
    }

    .item-2 {
        text-align: center;
        align-self: end;
    }

    .item-3 {
        display: flex;
        justify-content: center;

        @media (min-width: 576px) {
            justify-content: flex-end;
        }
    }

    .date {
        font-weight: 600;
        margin-bottom: 12px;
    }

    .sold {
        background-image: url("shared/assets/images/sold.jpg");
        background-size: 120px 30px;
        width: 120px;
        height: 30px;
    }
}
