.member-item {
    position: absolute;
    padding-top: 180px;

    .text-content {
        width: 50%;

        @media (max-width: 1200px) {
            width: 60%;
        }

        @media (max-width: 992px) {
            width: 80%;
        }
    }
}