@font-face {
    font-family: 'Raleway-Light';
    src: url('../../fonts/Raleway-Light.eot#iefix') format('embedded-opentype'),
        url('../../fonts/Raleway-Light.woff') format('woff'),
        url('../../fonts/Raleway-Light.woff2') format('woff'),
        url('../../fonts/Raleway-Light.svg#Raleway-Light') format('svg'),
        url('../../fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('../../fonts/Raleway-Italic.eot#iefix') format('embedded-opentype'),
    url('../../fonts/Raleway-Italic.woff') format('woff'),
    url('../../fonts/Raleway-Italic.woff2') format('woff'),
    url('../../fonts/Raleway-Italic.svg#Raleway-Italic') format('svg'),
    url('../../fonts/Raleway-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SofiaSans';
    src: url('../../fonts/SofiaSans-Light.eot#iefix') format('embedded-opentype'),
        url('../../fonts/SofiaSans-Light.woff') format('woff'),
        url('../../fonts/SofiaSans-Light.woff2') format('woff'),
        url('../../fonts/SofiaSans-Light.svg#SofiaSans-Light') format('svg'),
        url('../../fonts/SofiaSans-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('../../fonts/SourceCodePro-Regular.eot#iefix') format('embedded-opentype'),
        url('../../fonts/SourceCodePro-Regular.woff') format('woff'),
        url('../../fonts/SourceCodePro-Regular.woff2') format('woff'),
        url('../../fonts/SourceCodePro-Regular.svg#SourceCodePro-Regular') format('svg'),
        url('../../fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
