.home {
    height: 100%;

    .home-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        margin-bottom: 52px;
        font-family: $source-code;

        &__title {
            font-size: rem(128px);
            margin-bottom: 22px;
        }
    }
}