.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-bottom: 52px;
    font-family: 'SourceCodePro', sans-serif;

    .title {
        font-size: 128px;
        margin-bottom: 22px;
    }
}
